html, body {
    margin: 0;
    padding: 0;
    background: #777;
}
#output{
    display: flex;
    flex-wrap: wrap;
}

.header{
    width:100%;
    display: flex;
    justify-content:space-between;
    background: white;
    border-radius: 8px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2px 12px;
}
.header img{
    width: 127px;
    height: 33.02px;
}
.header .avater{
    width: 100px;
    border-radius: 50%;
}
.icons{
    width: 104.34px;
    height: 22.13px;
    border: 2.33px ;
    display: flex;
    justify-content: space-around;
}

.post-card {
    max-width: 375px;
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.location-text {
    color: #777;
}

.post-image {
    max-width: 375px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.like-count {
    font-weight: bold;
    margin-bottom: 8px;
}

.post-caption {
    font-size: 14px;
}

.username {
    font-weight: bold;
}

.comment {
    margin-left: 5px;
}
